# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Environment / secret files
.env
.env.*

# Temporary files
*.tmp
*.temp

# Python package files
*.egg-info/